[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
phonenumbers = "*"
django-phonenumber-field = "*"
djangorestframework-simplejwt = "*"
faker = "*"
pillow = "*"
django-cors-headers = "*"
pylint = "*"

[requires]
python_version = "3.8"
