/*=================================================================
								TOP BAR
===================================================================*/

.EquipmentList.top-header {
	margin-left: calc(35% - 110px);
	font-size: 105%;
}



/*=================================================================
							MAIN CONTENT
===================================================================*/



/*========================== DETAIL VIEW ==========================*/




/*=========================== LIST VIEW ===========================*/


.EquipmentList.list-view-data.id, .EquipmentList.list-view-header.id {
	width: 20%;
	/*overflow-wrap: break-word;*/
}

.EquipmentList.list-view-data.id {
	color: #428fcf;
	cursor: pointer;
	pointer-events: unset;
}

.EquipmentList.list-view-data.equipment, .EquipmentList.list-view-header.equipment {
	width: 40%;
	padding-left: 10%;
}

.EquipmentList.list-view-data.count, .EquipmentList.list-view-header.count {
	width: 30%;
	text-align: center;
}


.EquipmentList.data-expansion-txt-inp {
	width: 50%;
	margin-left: 1%;
}

.EquipmentList.data-expansion-txt-inp.id {
	width: 20%;
	margin-left: 1%;
}

.EquipmentList.data-expansion-cell.good {
	color: green;
}

.EquipmentList.data-expansion-cell.normal {
	color: blue;
}

.EquipmentList.data-expansion-cell.severe {
	color: red;
}

.EquipmentList.data-expansion-cell.no {
	color: #8a8a8a;
}

.EquipmentList.data-expansion-cell.id {
	color: #8a8a8a;
}

.EquipmentList.data-expansion-cell.id.active {
	color: blue;
}

.EquipmentList.data-expansion-cell {
	/*border: 1px solid red;*/
	padding: 0 1% 0 1%;
}

.EquipmentList.data-expansion-cell.id {
	width: 10%;
}

.EquipmentList.data-expansion-cell.description {
	width: 50%;
}

.EquipmentList.data-expansion-cell.action {
	width: 35%;
}



/*=================================================================
						ADD EQUIPMENT
===================================================================*/

/* Modal container like the name said */
.EquipmentList-modal-container {
	width: 90%;
	max-width: 500px;
	/*height: 80%;*/
	padding-left: 0;
}


/*============ Form ============*/

.EquipmentList-photo-inp {
	width: 60%;
	margin: auto;
}


/* Align, positioning the text field containers */
.EquipmentList-create-equipment-inp-container {
	display: block;
	margin-bottom: 10px;
	padding-left: 5px;
	margin-top: 10px;
	margin: 10px auto 10px auto;
}

/* Hide the default file input for the photo upload button */
.EquipmentList-create-equipment-file-inp-default {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;			/* Hide the element */
	z-index: -1;
	overflow: hidden;
	position: absolute;  /* Prevent the element creating a gap between other elements  */
						 /* This file upload button cannot be hidden by display and visibility attribute */
						 /* because doing so will make the button stops working */
}

/* Container for equipment's photo */
.EquipmentList-create-equipment-photo-container {
	margin: auto;
	text-align: center;
	border: 2px solid rgb(250, 250, 250);	/* Hide the border when not focused (on the file upload button) or when not hovered */
}

.EquipmentList-create-equipment-file-inp-default:focus ~ .EquipmentList-create-equipment-photo-container,
.EquipmentList-create-equipment-photo-container:hover {
	border: 2px solid lightgrey;	/* Show the border in response to interactions */
}

/* equipment photo block */
.EquipmentList-create-equipment-photo {
	border-radius: 20px;
	height: 150px;
	cursor: pointer;
}

/* Button groups (Reset, Add, Cancel) (NOT YET IMPLEMENTED) */
.EquipmentList-create-equipment-btn-group {
	margin: auto;  /* Center the button groups */
	margin-bottom: 5%;
}

/* Add equipment button (submit button) */
.EquipmentList-create-equipment-modal-btn {
	width: 100px;
	height: 50px;
	background-color: #0d61a3;
	color: white;
	font-weight: bold;
	padding: 10px;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	display: block;
}






/* Large devices (tablets, 800px and up) */
@media only screen and (min-width: 800px) {


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}