.Login-page {
	position: fixed;
	width: 100%;
	height: 100%;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom, #19439c, #6c93e6);
}

.Login-logo {
	display: block; /* To make margin:auto; works */
	margin: auto;
	margin-bottom: 10%;
	width: 70%;
}


.Login-form-container {
	position: absolute; /* Required for the top, left attribute */
	padding: 7%;
	padding-top: 4%;
	width: 90%;

	/* Center the form */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 15px #8f8f8f;
	border: 0px solid red; /* For debugging */
}

.Login-txt-inp-container {
	margin-left: 10%;
	width: 80%;
}

.Login-btn {
	background-color: #3772f0;
	color: white;
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 80%;
	padding: 10px;
}

/* For tablet screens */
@media only screen and (min-width: 800px) {
	.Login-form-container  {
		padding: 5%;
		padding-top: 3.5%;
		width: 55%;
	}
}

/* For laptop/desktop screens */
@media only screen and (min-width: 1200px) {
	.Login-form-container  {
		padding: 4%;
		padding-top: 3%;
		width: 40%;
	}
}