* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding: 0;
	margin: 0;
}


/* Hide arrow button for number input on Firefox */
input[type=number] {
	-moz-appearance:textfield;
}

/* Hide arrow button for number input on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
 	margin: 0;
}


/* ======================================================
						SCROLL BAR
=======================================================*/

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: #d6d6d6;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a8a8a8;
	border-radius: 15px;
}


.col-1-sm {width: 8.33%;}
.col-2-sm {width: 16.66%;}
.col-3-sm {width: 25%;}
.col-4-sm {width: 33.33%;}
.col-5-sm {width: 41.66%;}
.col-6-sm {width: 50%;}
.col-7-sm {width: 58.33%;}
.col-8-sm {width: 66.66%;}
.col-9-sm {width: 75%;}
.col-10-sm {width: 83.33%;}
.col-11-sm {width: 91.66%;}
.col-12-sm {width: 100%;}


/* Make the .main div take up the whole space of parent container */
.main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: calc(100vh - 60px);  /* The 60px is the height of top bar on UserList desktop view only, NEED TO FIX THIS */
	overflow: auto;
}


/* ==============================================
					Modal
================================================= */

.modal-background {
	position: fixed;
	z-index: 3;
	width: 100%;
	transition: .4s;
}

.show > .modal-background {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000; /* Fall back value if rgba() not supported */
	background-color: rgba(0,0,0,0.7);
}

.modal-container {
	position: fixed;
	top: 45%;
	left: 50%;
	min-width: 65%;
	min-width: 65vw;
	padding: 1% 0 1% 0%;
	transform: translate(-50%, -50%);
	background-color: #fafafa;
	border-radius: 5px;
	z-index: 3;
	transition: .4s ease-in-out;
	display: none;  /* Fix the tabbing problem temporarily, without this tabbing may focus on modal fields
					   even when it is not showing up
					   However, the animation lost with display: none; */
}

.show > .modal-container {
	display: unset;
}

.modal-close-btn {
	border: 0;
	background: unset;
	position: fixed;
	right: 15px;
	width: 30px;
	height: 30px;
	top: -1%;
	border-radius: 5px;
	font-weight: bold;
	font-size: 30px;
	color: #737373;
	cursor: pointer;
}

.modal-header {
	font-weight: bold;
	font-size: calc(100% + 3px);
	height: 6%;
	margin: 2% 0 0% 6%;
}

.modal-body {
	height: 88%;
	padding: 2%;
	padding-left: 6%;
	overflow: auto;
}

.modal-message {
	padding: 2%;
}

.GeneralPurposeModal.modal-container, .GeneralPurposeModal.modal-background {
	z-index: 4;
}


/* ==============================================
					Button
================================================= */

.btn {
	border: 0;
	outline: none;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 1px 5px #878787;
	transition: .2s;
	cursor: pointer;
	font-weight: bold;
	color: #636363;
	background-color: #e6e6e6;
}

.btn:active {
	transform: translate(1px, 1px);
	box-shadow: 1px 1px 2px #adadad;
}

.btn:hover, .btn:focus {
	box-shadow: 0px 0px 10px #000;
	color: #474747;
	background-color: #cfcfcf;
}

.round-btn {
	border-radius: 50%;
	font-weight: bold;
	box-shadow: 1px 1px 5px #8c8c8c;
}

.btn.info {
	background-color: #4277c2;
	color: white;
}

.btn.info:hover, .btn.info:focus {
	background-color: #2256a1;
	color: #f2f2f2;
}

.btn.warning {
	background-color: #e7eb9b;
	color: #8a880e;
	border: 1px solid #8a880e;
}

.btn.warning:hover, .btn.warning:focus {
	background-color: #cfd470;
	color: #6e6c05;
	border: 1px solid #6e6c05;
}

.btn.caution {
	background-color: #db0b0b;
	color: white;
}

.btn.caution:hover, .btn.caution:focus {
	background-color: #db0f0f;
	color: #f2f2f2;
}

.GeneralPurposeModal.btn {
	float: right;
	margin-right: 1%;
	font-size: 90%;
}

.GeneralPurposeModal.btn:first-child {
	margin-right: 3%;
}

/* ==============================================
				Open text field
================================================= */

.txt-inp-container {
	position: relative;
	display: inline-block;
}

.txt-inp {
	border: 0;
	border-bottom: 2px solid #d8dce3;
	padding: 5px;
	outline: none;
	transition: .4s;
	width: 100%;
	height: 100%;
}

.txt-inp:hover {
	border-bottom: 2px solid #cfcfcf;
}

.txt-inp:focus {
	padding-left: 15px;
}

.focus-bot {
	position: absolute;
	background-color: #487be8;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2.5px;
	transition: .4s;
}

.txt-inp:focus ~ .focus-bot,
.txt-inp.has-content ~ .focus-bot {
	width: 100%;
}

/* ==============================================
				Filled text field
================================================= */

.inp-filled-container {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 60px;
	padding-bottom: 8px;
}

.inp-filled {
	border: 0;
	outline: 0;
	background: unset;
	width: 100%;
	height: 100%;
	background: #e6e6e6;
	border-radius: 4px 4px 0 0;
	padding: 15px 0 0 15px;
	transition: .2s;
	border-bottom: 1.5px solid #969696;
}

.inp-filled:hover {
	background: rgb(210, 210, 210);
	border-bottom-color: #0a0a0a;
}

.inp-filled:focus {
	background: #c8c8c8;
	border-bottom-color: blue;
}

.inp-filled-label {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 15px;
	transition: .2s;
	color: #646464;
}

.inp-filled ~ .inp-filled-label.inp-has-content,
.inp-filled:focus ~ .inp-filled-label {
	margin-top: -16px;
	font-size: 12px;
}

.inp-filled:focus ~ .inp-filled-label {
	color: blue;
}


/* ==============================================
					Checkbox
			WARNING : NOT YET FINISED
================================================= */

.checkbox-label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: none;
}

/* Hide the browser's default checkbox */
.default-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover .default-checkbox ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label .default-checkbox:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-label .default-checkbox:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* Large devices (tablets, 800px and up) */
@media only screen and (min-width: 800px) {

	.main {
		left: 220px;
		height: 100%;
	}

	.mobile-only {
		display: none;
		position: fixed;
		top: -10000px;
		left: -10000px;
	}

	.modal-container {
		min-width: 40%;
		min-width: 40vw;
	}

	.col-1-md {width: 8.33%;}
	.col-2-md {width: 16.66%;}
	.col-3-md {width: 25%;}
	.col-4-md {width: 33.33%;}
	.col-5-md {width: 41.66%;}
	.col-6-md {width: 50%;}
	.col-7-md {width: 58.33%;}
	.col-8-md {width: 66.66%;}
	.col-9-md {width: 75%;}
	.col-10-md {width: 83.33%;}
	.col-11-md {width: 91.66%;}
	.col-12-md {width: 100%;}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.main {
		left: 240px;
	}

	.col-1-lg {width: 8.33%;}
	.col-2-lg {width: 16.66%;}
	.col-3-lg {width: 25%;}
	.col-4-lg {width: 33.33%;}
	.col-5-lg {width: 41.66%;}
	.col-6-lg {width: 50%;}
	.col-7-lg {width: 58.33%;}
	.col-8-lg {width: 66.66%;}
	.col-9-lg {width: 75%;}
	.col-10-lg {width: 83.33%;}
	.col-11-lg {width: 91.66%;}
	.col-12-lg {width: 100%;}
}