/* Hide scrollbar */
.Nav-navbar::-webkit-scrollbar {
	display: none;
}

.Nav-navbar {
	position: fixed;
	width: 250px;
	height: 100%;
	bottom: 0;
	left: 0;
	background-color: #fff; /* #e8eaed */
	overflow-x: auto;
	overflow-y: auto;	/* Allow scrolling up/down, left, right if content is overflowed */
	white-space: nowrap; /* Make the overflow contents going to the right instead of wrapping to new line */
    scrollbar-width: none; /* Hide scrollbar on firefox */
	border-right: 1.5px solid #dedede;
}

/* Contain logo and settings icon */
.Nav-top {
	height: 60px;
	padding-bottom: 5px;
	border-bottom: 1.5px solid #dedede;
}

/* Logo on the top */
.Nav-top-logo {
	margin-top: 2%;
	margin-left: 5%;
	height: 90%;
}

/* Settings icon on the top */
.Nav-top-item {
	padding: 4%;
	cursor: pointer;
	fill: #858585;
	height: 70%;
	float: right;
	margin-top: 5%;
	margin-right: 3%;
	transition: .3s;
	outline: none;
}

.Nav-top-item:hover, .Nav-top-item:focus {
	fill: #505050;
	background-color: #dcdcdc;
	border-radius: 50%;
}


/* Group headers for features */
.Nav-item-group-header {
	margin: 10% 0 2% 8%;
	width: 85%;
	padding-bottom: 2%;
	padding-left: 2%;
	color: #7d7d7d;
	font-size: 80%;
	font-weight: bold;
	/*border-bottom: 1.5px solid rgba(200, 200, 200, 0.7);*/
}

/* Features on the side bar, contain feature label and icon */
.Nav-item {
	padding-left: 12%;
	padding-top: 10%;
	margin-bottom: 2px;
	width: 95%;
	border-radius: 0 40px 40px 0;
	transition: .2s;
	outline:none;
}


.Nav-item:hover, .Nav-item:focus {
	cursor: pointer;
	background-color: #dfdfdf;
}

.Nav-item.active {
	background-color: #d5e7f5;
}

.Nav-item.active:hover, .Nav-item.active:focus {
	background-color: #a7cce8;
}


/* Features' icon */
.Nav-item  .Nav-item-icon {
	width: 10%;
	display: inline-block;
	transform: translate(0, -50%);
}

.Nav-item.active  .Nav-item-icon {
	fill: #286b9e;
}

.Nav-item.active:hover  .Nav-item-icon, .Nav-item.active:focus  .Nav-item-icon {
	fill: #015385;
}

/* Features' label */
.Nav-item  .Nav-item-label {
	color: #646464;
	font-weight: bold;
	display: inline-block;
	transform: translate(0, -70%);
	margin-left: 20px;
}

.Nav-item:hover  .Nav-item-label, .Nav-item:focus  .Nav-item-label {
	color: #141414;
}

.Nav-item.active  .Nav-item-label {
	color: #286b9e;
}

.Nav-item.active:hover  .Nav-item-label, .Nav-item.active:focus  .Nav-item-label {
	color: #0c4775;
}


.Nav-bottom-item {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: grey;
	font-size: 80%;
	text-align: center;
	margin-top: 10px;
	border: 1px solid lightgrey;
	border-width: 1px 0 1px 0;
	padding: 6px;
}

.Nav-bottom-item:hover {
	color: red;
	cursor: pointer;
	font-weight: bold;
}



/* Large devices (tablets, 800px and up) */
@media only screen and (min-width: 800px) {

	.Nav-navbar {
		width: 220px;
	}
	
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.Nav-navbar {
		width: 240px;
	}

}