.Dashboard-content {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	justify-content: center;
}

.Dashboard-card-container {
	height: 80%;
	min-height: 500px;
	padding: 20px;
	position: relative;
}

.Dashboard-card {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
	border: 1px solid red;
}

.Dashboard-card-header {
	padding: 20px;
	font-weight: bold;
	border-bottom: 1px solid rgba(220, 220, 220, 1);
}

.Dashboard-card-title {
	font-size: 25px;
	font-style: italic;
	color: #3b65bf;
}

/* Large devices (tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	.Dashboard-card-container {
		height: 70%;
		padding-bottom: 15px;
	}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.Dashboard-card-container {
		padding-bottom: 25px;
	}
}
