/* Hide scrollbar */
.Nav-navbar::-webkit-scrollbar {
	display: none;
}

.Nav-navbar {
	position: fixed;
	width: 250px;
	height: 100%;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 1); /* #e8eaed */
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap; /* Make the overflow contents going to the right instead of wrapping to new line */
    scrollbar-width: none; /* Hide scrollbar on firefox */
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1.5px solid rgba(200, 200, 200, 0.7);
}

.Nav-top {
	height: 65px;
	padding-bottom: 5px;
	border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
}

.Nav-top-logo {
	margin-top: 2%;
	margin-left: 5%;
	height: 90%;
}

.Nav-top-item {
	padding: 4%;
	cursor: pointer;
	fill: rgba(100, 100, 100, 0.8);
	height: 70%;
	float: right;
	margin-top: 5%;
	margin-right: 3%;
	transition: .3s;
	outline: none;
}

.Nav-top-item:hover {
	fill: rgba(80, 80, 80);
	background-color: rgba(220, 220, 220);
	border-radius: 50%;
}

.Nav-top-item:focus {
	fill: rgba(80, 80, 80, 0.9);
	background-color: rgba(220, 220, 220);
	border-radius: 50%;
}

.Nav-item-group-header {
	margin: 10% 0 2% 8%;
	width: 85%;
	padding-bottom: 2%;
	padding-left: 2%;
	color: rgba(125, 125, 125);
	font-size: 80%;
	font-weight: bold;
	/*border-bottom: 1.5px solid rgba(200, 200, 200, 0.7);*/
}

.Nav-item {
	padding-left: 12%;
	padding-top: 10%;
	margin-bottom: 2px;
	width: 95%;
	border-radius: 0 40px 40px 0;
	transition: .2s;
	outline:none;
}


.Nav-item:hover, .Nav-item:focus {
	cursor: pointer;
	background-color: rgba(220, 220, 220, 0.8);
}

.Nav-item.active {
	background-color: rgba(184, 222, 245, 0.25);
}

.Nav-item.active:hover, .Nav-item.active:focus {
	background-color: rgba(184, 222, 245, 0.55);
}


.Nav-item  .Nav-item-icon {
	width: 10%;
	display: inline-block;
	transform: translate(0, -50%);
}

.Nav-item.active  .Nav-item-icon {
	fill: rgba(32, 137, 201);
}

.Nav-item.active:hover  .Nav-item-icon, .Nav-item.active:focus  .Nav-item-icon {
	fill: rgba(0, 104, 168);
}

.Nav-item  .Nav-item-label {
	color: rgba(100, 100, 100);
	font-weight: bold;
	display: inline-block;
	transform: translate(0, -70%);
	margin-left: 20px;
}

.Nav-item:hover  .Nav-item-label, .Nav-item:focus  .Nav-item-label {
	color: rgba(20, 20, 20);
}

.Nav-item.active  .Nav-item-label {
	color: rgba(32, 137, 201);
}

.Nav-item.active:hover  .Nav-item-label, .Nav-item.active:focus  .Nav-item-label {
	color: rgba(0, 104, 168);
}




/* Large devices (tablets, 800px and up) */
@media only screen and (min-width: 800px) {

	.Nav-navbar {
		width: 220px;
	}
	
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.Nav-navbar {
		width: 240px;
	}

}