/*=================================================================
								TOP BAR
===================================================================*/

.UserList-top {
	width: 100%;
	height: 65px;
	border-bottom: 1.5px solid rgba(200, 200, 200, 0.7);
}

.UserList-top-search-section, .UserList-top-filter-section {
	display: inline-block;
	width: 50%;
	height: 100%;
	border: 1px solid red;
	float: left;
}

.UserList-top-search-section form {
	width: 100%;
	height: 100%;
}

.UserList-top-search-text-input {
	width: 80%;
	height: 100%;

}

/* Hide default submit button */
.UserList-top-search-section form input[type="submit"] {
	display: none;
}

.UserList-top-search-button {
	display: none;
}





/*=================================================================
							MAIN CONTENT
===================================================================*/



/*=================================================================
						ADD USER MODAL
===================================================================*/

.UserList-modal-container {
	width: 90%;
	max-width: 800px;
}


/*============ Form ============*/

/* Hide arrow button for number input on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrow button for number input on Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.UserList-adduser-form {
	display: flex;
	flex-wrap: wrap;
}

.UserList-adduser-section {
	display: inline-block;
	padding: 0px 10% 25px 10%;
}

.UserList-adduser-section-title {
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 5px;
}

.UserList-adduser-inp-container {
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 5px;
}

.UserList-adduser-file-inp-default {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	z-index: -1;
	overflow: hidden;
	position: absolute;
}

.UserList-adduser-avatar-container {
	margin: auto;
	text-align: center;
}

.UserList-adduser-avatar-img {
	border-radius: 20px;
	width: 250px;
	height: 250px;
	cursor: pointer;
}

.UserList-adduser-btn-group {
	margin: auto;
}

.UserList-adduser-modal-btn {
	width: 100px;
	height: 50px;
	background-color: #0d61a3;
	color: white;
	font-weight: bold;
	padding: 10px;
	margin: auto;
	margin-top: -20px;
	text-align: center;
}


/* Large devices (tablets, 800px and up) */
@media only screen and (min-width: 800px) {

	.UserList-adduser-section {
		padding: 0 25px 25px 25px;
	}

	.UserList-adduser-btn-group {
		margin-top: 30px;
	}

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}